{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>{{ titulo }}</h1>
        </div>
        <div class="row">
            {{ form_start(formulario, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(formulario) }}
            {{ form_end(formulario) }}
        </div>
    </div>
{% endblock %}

{% block title %}
    Nuevo post
{% endblock %}

